form.RegisterForm {
    align-content: space-around;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    width: 735px;
}

.clearfix {
    clear: both;
}

#site-menu {
    margin-top: 40px;
    float: right;
    margin-right: 100px;
}

.languagepicker {
    background-color: transparent;
    position: absolute;
/ / display: inline-block;
    padding: 0;
    height: 100%;
    min-height: 40px;
    overflow: hidden;
/ / transition: all .3 s ease;
    vertical-align: top;
    float: right;
    top: 34px;
    min-width: 90px;
    text-align: left;

    /*border: 1px solid gray;*/
}

.languagepicker a {
    color: #ffffff;
    text-decoration: none;
    display: block;

}

.languagepicker li {
    display: block;
    /*padding: 0px 20px;*/
    /*line-height: 40px;*/
    border-top: 1px solid #ccc;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-top: 8px;
    cursor: pointer;
    color: #ffffff;
}

.languagepicker li:hover {
    background: rgba(0, 0, 0, 0.8);

}

.languagepicker li:first-child {
    border: none;
}

.languagepicker li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.languagepicker li img {
    margin-right: 5px;
}

.ar #site-menu {
    margin-left: 100px;
    margin-right: auto;
}

.roundborders {
    border-radius: 3px;
}

.languagepicker:hover {
    /*
    don't forget the 1px border!
    The first language is 40px heigh,
    the others are 41px
    */
    overflow: visible;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
/ / min-height: 450 px;
    /*border: 1px solid gray;*/
}

.flag-icon {
    font-size: 23px;
    color: #3a526a;
}

span.flag-icon {
    /*border: 1px solid gray;*/
    font-size: 25px;
}

a.btn.btn--alt.menu-btn {
    padding: 5px 10px 5px 10px;
    border: 2px solid #0098d8;
    color: white;
    background-color: #0098d8;
}

.showcase {
    background: url('../../assets/img/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#json-register-success,
#json-register-success-bottom {
    display: none; 
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: left; 
    padding: 15px;
    font-size: 14px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#json-register-error,
#json-register-error-bottom {
    display: none; 
    text-align: left; 
    padding: 15px; 
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 25px;
    color: #a94442;
    font-size: 14px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.RegisterForm input:focus {
    outline: none;
    color: #d86368;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ffffff),
    to(#e6e6e6)
  );
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr=#ffffff,
      endColorstr=#e6e6e6,
      GradientType=0
    );
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: 0.3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-primary,
.btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background: #d76468;
  border: 1px solid #d86368;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
    outline: 0;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  filter: none;
  background-color: #d6979a;
}
.btn-block {

  margin: auto;
  text-align: center;
  margin-top: 20px;
}

#pre-register-bottom-btn {
    width: 320px;
}

.field-left {
    float: left;
}

.field-right {
    float: right;
}


.login {
  top: 50px;
  margin: auto;
  position: relative;
}

#footer .login
{
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 520px;
    top: unset;
}


#footer .login > h1
{
display:none;   
}

.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

input {
  display: inline-block;
  width: 310px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  margin: 18px 0px 5px 0px;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}




div#register_footer > .hbspt-form {
    bottom: 180px;
}

.hbspt-form {
/*     bottom: 70px; */
    position: absolute;
    left: 7px;
    right: 0;
}

form#hsForm_8818173b-5098-40d4-86e9-f9bb88d06fde {
    margin: auto;
    text-align: center;
    width: 100%;
}

div#hbspt-form-1524657859878-2580029311 {
    width: 100%;
    margin: auto;
    text-align: center;
}
.hs_submit.hs-submit {
    display: inline-block;
    vertical-align: middle;
  margin-bottom: 14px;
    }

input.hs-button.primary.large {
    display: block;
}

fieldset.form-columns-2 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
/*     top:19px; */
    width: 100%;
    margin: auto;
    text-align: center;
}

span.hs-form-required {
    display: none;
}

input#email-8818173b-5098-40d4-86e9-f9bb88d06fde,
input#firstname-8818173b-5098-40d4-86e9-f9bb88d06fde {
    padding: 9px;
    background: #ffffff6b;
    font-size: 20px;
    color: white;
    text-shadow: black 0px 0px 2px;
}

.top-captcha {
    padding-top: 20px;
    clear: both;
    width: 303px;
    margin-left: auto;
    margin-right: auto;
}

.top_form_username_error,
.top_form_email_error,
.top_form_password_error,
.top_form_confirm_password_error,
.top_form_passwords_do_not_match_error,
.top_form_captcha_error,
.bottom_form_username_error,
.bottom_form_email_error,
.bottom_form_password_error,
.bottom_form_confirm_password_error,
.bottom_form_passwords_do_not_match_error,
.bottom_form_captcha_error {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: none;
    font-size: 12px;
/*    color: #d76468;*/
    color: #ffffff;
    text-align: left;
    width: 310px;
    line-height: 18px;
    letter-spacing: 1px;

}

.ar .top_form_username_error,
.ar .top_form_email_error,
.ar .top_form_password_error,
.ar .top_form_confirm_password_error,
.ar .top_form_passwords_do_not_match_error,
.ar .top_form_captcha_error,
.ar .bottom_form_username_error,
.ar .bottom_form_email_error,
.ar .bottom_form_password_error,
.ar .bottom_form_confirm_password_error,
.ar .bottom_form_passwords_do_not_match_error,
.ar .bottom_form_captcha_error {
    text-align: right;
}

ul.hs-error-msgs.inputs-list li label {
    color:#ffb0ac !important;
    text-shadow: black 0px 0px 1px;
  position:absolute;
}

input.hs-button.primary.large {
    padding: 14px 47px;
    background-color: #d76468 !important;
    background-image: none;
    border: none !important;
    text-shadow: black 0px 0px 0px !important;
    font-family: "Montserrat" !important;
    font-size: 19px;
    font-weight: 200;
}

input.hs-button.primary.large:hover
{
box-shadow:#d76468 0px 0px 10px 0px !important;
}

@media only screen and (max-width: 764px)
{
    #register_footer h2 {
        top: -75px;
    }
    
    #site-menu {
        left: 0;
        right: 0;
        float: none;
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }
    
    .languagepicker {
        min-width: auto;
        width: 90px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    #headline {
        top: 50px;
    }

    div#register_footer > .hbspt-form {
        bottom:-35px;
        zoom:0.79;
    }
    
    .socialbar {

        margin-top: 20px;
    }

    .hbspt-form {
        bottom:-35px;
        zoom:0.80;
    }
    #footer .login {

        bottom: auto;
    }
    
    .field-left {
        float: none;
    }
    
    .field-right {
        float: none;
    }
    
    form.RegisterForm {
        width: 100%;
    }
    
    #play {
        /* top: -90px; */
        /* position: relative; */
        /* float: right; */
        /* left: auto; */
        /* right: 15px; */
        /* z-index: 9999999; */
    }
    
    .container .socialbar {
        margin-right: auto;
    }
    
    .top_form_username_error,
    .top_form_email_error,
    .top_form_password_error,
    .top_form_confirm_password_error,
    .top_form_passwords_do_not_match_error,
    .top_form_captcha_error,
    .bottom_form_username_error,
    .bottom_form_email_error,
    .bottom_form_password_error,
    .bottom_form_confirm_password_error,
    .bottom_form_passwords_do_not_match_error,
    .bottom_form_captcha_error {
        width: 330px;
        margin: 0 auto;
    }
    
    .top-captcha {
        margin: 20px auto;
        width: 310px;
    }
    
    #register_footer {
        height: auto;
    }
    
    #headline {
        font-size: 24px;
    }
  
}

@media only screen and (max-width: 467px)
{
    #play {
        /* top: -90px; */
        /* position: relative; */
        /* float: right; */
        /* left: auto; */
        /* right: 15px; */
        /* z-index: 9999999; */
    }
    
    
    
    .container .socialbar {
        margin-right: auto;
    }
    
    #site-menu {
        left: 0;
        right: 0;
        float: none;
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }
    
    .languagepicker {
        min-width: auto;
        width: 90px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    #headline {
        font-size: 18px;
    }
    
    .btn-block {
        margin-top: 0px;
    }
    
    .login
    {
    top: 0px;
    }

    .field-left {
        float: none;
    }
    
    .field-right {
        float: none;
    }
    
    form.RegisterForm {
        width: 100%;
        transform: scale(0.7);
    }
    
    .socialbar {
        margin: auto;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    #copyright {
        z-index: 300;
        width: 100%;
        text-align: center;
        -webkit-transform: translate3d(0, 0, 0);
    }
    
    #copyright div {
        line-height: unset;
        margin-top: 20px;
    }
    
    #register-logo {
        top: 60px;
    }
    
    input {
        margin: 5px 0px 0px 0px;
    }

}