body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19102d+0,181541+50,19102d+100 */
    background: rgb(25,16,45); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(25,16,45,1) 0%, rgba(24,21,65,1) 50%, rgba(25,16,45,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(25,16,45,1) 0%,rgba(24,21,65,1) 50%,rgba(25,16,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(25,16,45,1) 0%,rgba(24,21,65,1) 50%,rgba(25,16,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19102d', endColorstr='#19102d',GradientType=1 ); /* IE6-9 */
}

#header-video {
    width: 100%;
    max-height: 1070px;
    overflow: hidden;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    z-index: -100;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#bgvid {
    /*position: relative;*/
    width: auto;
    min-width: 100%;
    background: url(../images/bgvid_poster.jpg) no-repeat;
    background-size: cover;
    height: auto;
}

#header-video h1 {
    font-size: 5rem;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 5rem;
    text-shadow: black 0 0 10px;
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
}

#header-video h3 {
    font-size: 2.5rem;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    z-index: 100;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 5rem;
    text-shadow: black 0 0 10px;
    position: absolute;
    top: 235px;
    right: 0;
    left: 0;
}

#video-play-btn {
    margin: 0 auto;
    width: 204px;
    height: 205px;
    margin-top: 50px;
    text-align: center;
    background: url('../images/video-play-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    position: absolute;
    top: 240px;
    right: 0;
    left: 0;
}

#pre-register-btn {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 515px;
    right: 0;
    left: 0;
}

#pre-register-btn button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a8be+0,2b3689+50,1a1130+100 */
    background: rgb(0,168,190); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,168,190,1) 0%, rgba(43,54,137,1) 50%, rgba(26,17,48,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,168,190,1) 0%,rgba(43,54,137,1) 50%,rgba(26,17,48,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,168,190,1) 0%,rgba(43,54,137,1) 50%,rgba(26,17,48,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8be', endColorstr='#1a1130',GradientType=1 ); /* IE6-9 */
    color: #fff;
    border: 0;
    padding: 10px;
    max-width: 250px;
    min-width: 250px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: #0096ff 0px 0px 10px;
    outline: 0;
}

#section2 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.usp-container {
    max-width: 400px;
    margin-bottom: 25rem;
    margin-top: 5rem;
    position: relative;
}

.usp-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.usp-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 10px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.icon-container-left {
    width: 55px;
    height: 145px;
    position: absolute;
    left: 0;
}

.icon-container-right {
    width: 55px;
    height: 145px;
    position: absolute;
    right: 0;
}

.ups-text-container-left {
     position: absolute;
     top: 0;
     left: 7rem;
 }

.ups-text-container-right {
    position: absolute;
    top: 0;
    right: 7rem;
}

#usp1-icon {
    background: url('../images/icon1-line.png');
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    position: absolute;
    left: -40px;
    top: 0px;
    /*transform: scale(0.65, 0.65);*/
    /*-ms-transform: scale(0.65, 0.65);*/
    /*-webkit-transform: scale(0.65, 0.65);*/
}

#usp1-line {
    position: absolute;
    display: block;
    left: 5.5rem;
    width: .3rem;
    height: 100%;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#1a1130),color-stop(48%,#2b3689),to(#00a8be));
    background-image: linear-gradient(to top,#1a1130 0%,#2b3689 48%,#00a8be 100%);
    top: 0.8rem;
}

#usp2-icon {
    background: url('../images/icon2-line.png');
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    position: absolute;
    right: -18px;
    top: 0px;
    /*transform: scale(0.65, 0.65);*/
    /*-ms-transform: scale(0.65, 0.65);*/
    /*-webkit-transform: scale(0.65, 0.65);*/
}

#usp2-line {
    position: absolute;
    display: block;
    right: 5.5rem;
    width: .3rem;
    height: 100%;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#1a1130),color-stop(48%,#2b3689),to(#00a8be));
    background-image: linear-gradient(to top,#1a1130 0%,#2b3689 48%,#00a8be 100%);
    top: 0.8rem;
}

#usp3-icon {
    background: url('../images/icon3-line.png');
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    position: absolute;
    right: -34px;
    top: -13px;
    /*transform: scale(0.65, 0.65);*/
    /*-ms-transform: scale(0.65, 0.65);*/
    /*-webkit-transform: scale(0.65, 0.65);*/
}

#usp3-line {
    position: absolute;
    display: block;
    right: 5.5rem;
    width: .3rem;
    height: 100%;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#00a8be),color-stop(48%,#2b3689),to(#1a1130));
    background-image: linear-gradient(to top,#00a8be 0%,#2b3689 48%,#1a1130 100%);
    top: -8rem;
}

#usp4-icon {
    background: url('../images/icon4-line.png');
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: 0;
    /*transform: scale(0.65, 0.65);*/
    /*-ms-transform: scale(0.65, 0.65);*/
    /*-webkit-transform: scale(0.65, 0.65);*/
}

#usp4-line {
    position: absolute;
    display: block;
    left: 5.5rem;
    width: .3rem;
    height: 100%;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#00a8be),color-stop(48%,#2b3689),to(#1a1130));
    background-image: linear-gradient(to top,#00a8be 0%,#2b3689 48%,#1a1130 100%);
    top: -8rem;
}

.usp-line {
    display: block;
    position: absolute;
    bottom: 4.5rem;
    margin: auto;
    width: 100%;
    height: 1.3rem;
     background-image: -webkit-gradient(linear,right top,left top,from(#4a67fb),to(#6bf1ed));
     background-image: linear-gradient(to left,#4a67fb 0%,#6bf1ed 100%);
}

.circle-1 {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 12.6rem;
    top: 100%;
    margin-top: -0.07em;
    margin-right: -.5em;
    right: 0;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 300ms ease;
    transition: -webkit-box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease,-webkit-box-shadow 300ms ease;
    z-index: 103;
}

.circle-2 {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 12.6rem;
    top: 100%;
    margin-top: -0.07em;
    margin-right: -0.07em;
    right: 0;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 300ms ease;
    transition: -webkit-box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease,-webkit-box-shadow 300ms ease;
    z-index: 103;
}

.circle-reverse-3 {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 12.6rem;
    top: 100%;
    margin-top: -2.45em;
    margin-right: -0.05em;
    right: 0;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 300ms ease;
    transition: -webkit-box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease,-webkit-box-shadow 300ms ease;
    z-index: 103;
}

.circle-reverse-4 {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 12.6rem;
    top: 100%;
    margin-top: -2.45em;
    margin-right: -0.52em;
    right: 0;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 300ms ease;
    transition: -webkit-box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease,-webkit-box-shadow 300ms ease;
    z-index: 103;
}

.circle-1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a67fb),to(#6bf1ed));
    background-image: linear-gradient(to right,#4a67fb 0%,#6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a67fb),to(#6bf1ed));
    background-image: linear-gradient(to right,#4a67fb 0%,#6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-reverse-3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a67fb),to(#6bf1ed));
    background-image: linear-gradient(to right,#4a67fb 0%,#6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-reverse-4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a67fb),to(#6bf1ed));
    background-image: linear-gradient(to right,#4a67fb 0%,#6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-1 span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8.1rem;
    height: 8.1rem;
    background-color: rgba(77,182,255,.54);
    border-radius: 50%;
}

.circle-2 span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8.1rem;
    height: 8.1rem;
    background-color: rgba(77,182,255,.54);
    border-radius: 50%;
}

.circle-reverse-3 span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8.1rem;
    height: 8.1rem;
    background-color: rgba(77,182,255,.54);
    border-radius: 50%;
}

.circle-reverse-4 span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8.1rem;
    height: 8.1rem;
    background-color: rgba(77,182,255,.54);
    border-radius: 50%;
}

.circle-1 span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a67fb),to(#6bf1ed));
    background-image: linear-gradient(to right,#4a67fb 0%,#6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-2 span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a67fb),to(#6bf1ed));
    background-image: linear-gradient(to right,#4a67fb 0%,#6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-reverse-3 span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#4a67fb), to(#6bf1ed));
    background-image: linear-gradient(to right, #4a67fb 0%, #6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-reverse-4 span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#4a67fb), to(#6bf1ed));
    background-image: linear-gradient(to right, #4a67fb 0%, #6bf1ed 100%);
    opacity: .3;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.circle-1 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #fff;
    border-radius: 50%;
}

.circle-2 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #fff;
    border-radius: 50%;
}

.circle-reverse-3 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #fff;
    border-radius: 50%;
}

.circle-reverse-4 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #fff;
    border-radius: 50%;
}

#section3 {
    background-color: #fff;
}

.section-header-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section-subheader-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.blue-text-color {
    color: #17194e;
}

.white-text-color {
    color: #ffffff;
}

#usp-icon1 {
    background: url('../images/usp-icon1.png');
    width: 105px;
    height: 104px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#usp-icon2 {
    background: url('../images/usp-icon2.png');
    width: 105px;
    height: 104px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#usp-icon3 {
    background: url('../images/usp-icon3.png');
    width: 105px;
    height: 104px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.usp-icon1-title,
.usp-icon2-title,
.usp-icon3-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.usp-icon1-text,
.usp-icon2-text,
.usp-icon3-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.section4 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181339+0,171a53+21,171749+46,19102d+100 */
    background: rgb(24,19,57); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(24,19,57,1) 0%, rgba(23,26,83,1) 21%, rgba(23,23,73,1) 46%, rgba(25,16,45,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(24,19,57,1) 0%,rgba(23,26,83,1) 21%,rgba(23,23,73,1) 46%,rgba(25,16,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(24,19,57,1) 0%,rgba(23,26,83,1) 21%,rgba(23,23,73,1) 46%,rgba(25,16,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181339', endColorstr='#19102d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.infographic-bg {
    background: url('../images/infographic-bg.png');
    width: 100%;
    height: 908px;
    background-repeat: no-repeat;
    background-position: left;
}

#why-you-will-love-our-exchange-container {
    margin-top: 120px;
}

#why-you-will-love-our-exchange-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    text-align: right;
    color: #ffffff;
    text-transform: uppercase;
}

#why-you-will-love-our-exchange-points {
    margin-top: 30px;
}

#why-you-will-love-our-exchange-points ul {
    /*padding-right: 25px;*/
    margin: 0;
}

#why-you-will-love-our-exchange-points li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: right;
    color: #ffffff;
    line-height: 4.5rem;
    list-style: none;
}

#section5 {
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0000+0,161b57+50,0e0000+100 */
    background: rgb(14,0,0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14,0,0,1) 0%, rgba(22,27,87,1) 50%, rgba(14,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(14,0,0,1) 0%,rgba(22,27,87,1) 50%,rgba(14,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(14,0,0,1) 0%,rgba(22,27,87,1) 50%,rgba(14,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0000', endColorstr='#0e0000',GradientType=1 ); /* IE6-9 */
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 999px 100px rgb(0,1,59,0.9) inset;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16153b+0,161b57+50,16153b+100 */
    background: rgb(22,21,59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(22,21,59,1) 0%, rgba(22,27,87,1) 50%, rgba(22,21,59,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(22,21,59,1) 0%,rgba(22,27,87,1) 50%,rgba(22,21,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(22,21,59,1) 0%,rgba(22,27,87,1) 50%,rgba(22,21,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16153b', endColorstr='#16153b',GradientType=0 ); /* IE6-9 */
}

.dot {
    background-image: url("../images/dot.png");
    background-repeat: repeat;
    opacity: 1;
    /*background-color: #161336;*/
    position: relative;
}

#video-thumbnail {
    background-image: url("../images/video-thumbnail.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 499px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.education-video-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

#education-video1 {
    background-image: url("../images/education-video1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 287px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#education-video2 {
    background-image: url("../images/education-video2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 287px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#education-video3 {
    background-image: url("../images/education-video3.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 287px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.education-video-container {
    padding: 25px;
}

#section7 {
    background-color: #e1e1e1;
}

#trading-revolution {
    background-image: url("../images/hand.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 775px;
    background-position: bottom;
    background-size: contain;
}

#trading-revolution-form-container {
    background-color: #2b2b44;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
    padding: 50px;
}

#trading-revolution-form label {
    color: rgb(255,255,255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}

#trading-revolution-form input {
    background: rgb(75,75,110, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    width: 100%;
}

.input-container {
    margin-bottom: 10px;
}

#trading-revolution-register-btn button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a8be+0,2b3689+50,1a1130+100 */
    background: rgb(0,168,190); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,168,190,1) 0%, rgba(43,54,137,1) 50%, rgba(26,17,48,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,168,190,1) 0%,rgba(43,54,137,1) 50%,rgba(26,17,48,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,168,190,1) 0%,rgba(43,54,137,1) 50%,rgba(26,17,48,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8be', endColorstr='#1a1130',GradientType=1 ); /* IE6-9 */
    color: #fff;
    border: 0;
    padding: 10px;
    max-width: 250px;
    min-width: 250px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: #0096ff 0px 0px 10px;
    outline: 0;
}

#trading-revolution-register-btn {
    min-width: 250px;
    max-width: 250px;
    margin: 0 auto;
}

#trading-revolution-pre-register-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

#section8 {
    /*background-color: #191130;*/
    background-image: url("../images/footer-net.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1096px;
    background-size: contain;
    position: relative;
}

#left-engine {
    width: 270px;
    height: auto;
    position: absolute;
    left: 100px;
}

#right-engine {
    width: 270px;
    height: auto;
    position: absolute;
    right: 100px;
}

.c-fp-footer__corner {
    position: absolute;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: .37em;
    height: 1em;
    font-size: 74rem;
    margin-top: -.48em;
}

.c-fp-footer__corner.is-left {
    left: 0;
}

.c-fp-footer__corner.is-right {
    right: 0;
}

.c-fp-footer__symbolics {
}

#center-engine {
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
}

#trade-io-coin {
    background-image: url("../images/tradeio-coin.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 320px;
    background-size: contain;
    margin: 0 auto;
    margin-top: 295px;
}

.support-email {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none!important;
}

.support-telephone {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none!important;

}

.support-email .icon,
.support-telephone .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #2ea6dd;
    font-weight: 700;
}

.contact-container span {
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#footer-logo {
    background-image: url("../images/footer-logo.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 70px;
    margin: 15rem auto 8rem;
}

#copyright {
    color: #fff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.c-fp-footer__light {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 52rem;
    top: 50%;
    margin-top: -.48em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    opacity: .7;
}

.c-fp-footer__light:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    width: .4rem;
    height: .6rem;
    background-color: rgba(128,205,245,.32);
    -webkit-box-shadow: 0 0 1rem 1rem #fff;
    box-shadow: 0 0 8rem 5rem #319dd6;
    -webkit-transform: scaleX(7);
    transform: scaleX(7);
}

.c-fp-footer__light:after {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 5rem;
    height: .4rem;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(99,144,203,.81);
    -webkit-box-shadow: 0 0 1rem 1rem #fff;
    box-shadow: 0 0 1rem 1rem #6390cb;
    -webkit-transform: scaleX(5);
    transform: scaleX(4);
}

.c-fp-footer__light span {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 1rem;
    height: .2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255,255,255,.91);
    -webkit-box-shadow: 0 0 1rem 1rem #fff;
    box-shadow: 0 0 1rem 0.6rem #fff;
    -webkit-transform: scaleX(15);
    transform: tramslate(0,0) scaleX(10);
    -webkit-transform-origin: left center;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.c-fp-footer__light.is-left span, .c-fp-footer__light.is-left:before, .c-fp-footer__light.is-left:after {
    left: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.c-fp-footer__light.is-right span, .c-fp-footer__light.is-right:before, .c-fp-footer__light.is-right:after {
    right: 0;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.section.active .c-fp-footer__light {
    -webkit-animation: c-fp-footer__light 2s linear infinite;
    animation: c-fp-footer__light 2s linear infinite;
}
.c-fp-footer__light.is-left {
    left: 305px;
}

.c-fp-footer__light.is-right {
    right: 305px;
}

#json-register-error,
#json-register,
.username_error,
.email_error,
.password_error,
.confirm_password_error,
.passwords_do_not_match_error,
.captcha_error {
    display: none;
}

#json-register-error {
    display:none;
    text-align:left;
    padding:15px;
    background-color:#f2dede;
    border-color:#ebccd1;
    margin-bottom:25px;
    color:#a94442;
    font-size:14px;
    font-family:'Montserrat',Helvetica,Arial,sans-serif;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}

#json-register-success {
    display:none;
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
    text-align:left;
    padding:15px;
    font-size:14px;
    font-family:'Montserrat',Helvetica,Arial,sans-serif;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}

.username_error,
.email_error,
.password_error,
.confirm_password_error,
.passwords_do_not_match_error,
.captcha_error {
    font-family:'Montserrat',Helvetica,Arial,sans-serif;
    display:none;
    font-size:12px;
    color: rgb(215, 100, 104);
    text-align:left;
    width: 100%;
    line-height:18px;
    letter-spacing:1px
}

#social-media-container {
    position: absolute;
    bottom: -85px;
    right: 50px;
}

#facebook-icon {
    background-image: url("../images/facebook-icon.png");
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    display: inline-block;
}

#twitter-icon {
    background-image: url("../images/twitter-icon.png");
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    display: inline-block;
}

.wistia_click_to_play {
    position: inherit !important;

}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #header-video h1 {
        top: 55px;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    #header-video h3 {
        top: 125px;
        line-height: 3rem;
        font-size: 1.5rem;
    }

    #video-play-btn {
        top: 120px;
    }

    #pre-register-btn {
        top: 415px;
    }

    .usp-container {
        margin: 0 auto;
        margin-bottom: 25rem;
        display: list-item;
    }

    .usp-title,
    .usp-description {
        text-align: center;
    }

    .usp-title {
        font-size: 1.9rem;
    }

    .ups-text-container {
        left: 10rem;
    }

    .icon-container {
        width: 79px;
        height: 106px;
    }

    #usp1-icon,
    #usp2-icon,
    #usp3-icon,
    #usp4-icon {
        left: 0;
        right: auto;
        top: 8px;
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    #usp1-line,
    #usp2-line,
    #usp3-line,
    #usp4-line {
        top: 0.8rem;
        left: 8.8rem;
        right: auto;
        background-image: -webkit-gradient(linear,left bottom,left top,from(#1a1130),color-stop(48%,#2b3689),to(#00a8be));
        background-image: linear-gradient(to top,#1a1130 0%,#2b3689 48%,#00a8be 100%);
    }

    .ups-text-container-left {
        left: 10rem;
    }

    .ups-text-container-right {
        left: 10rem;
        right: auto;
    }

    .usp-line {
        display: none;
    }

    .icon-container-right {
        left: 0;
    }

    .circle-1,
    .circle-2,
    .circle-reverse-3,
    .circle-reverse-4 {
        display: none;
    }

    .be-the-first-to-sign-up-usp-container {
        margin-bottom: 30px;
    }

    .infographic-bg {
        background: none;
        height: auto;
    }

    #why-you-will-love-our-exchange-title h1 {
        text-align: center;
    }

    #why-you-will-love-our-exchange-points ul {
        padding-right: auto;
    }

    #why-you-will-love-our-exchange-points li {
        text-align: center;
        direction: ltr;
        list-style-position: inside;
    }

    #trading-revolution {
        display: none;
    }

    #trading-revolution-form-container {
        margin-top: 0px;
    }

    #section7 {
        padding-bottom: 100px;
    }

    #left-engine,
    #right-engine {
        display: none;
    }

    #trade-io-coin {
        margin-top: 5px;
    }

    .contact-container {
        margin-top: 35px;
    }

    #footer-logo {
        margin: 8rem auto 8rem;
    }

    #section8 {
        height: 850px;
        background: none;
    }

    .c-fp-footer__light {
        display: none;
    }

    #social-media-container {
        position: absolute;
        bottom: -85px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 85px;
    }

    .why-you-will-love-our-exchange.pull-right {
        float: none !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #video-play-btn {
        top: 115px;
    }

    .usp-title {
        font-size: 1.5rem;
    }

    #gReCaptcha {
        transform:scale(0.8);
        -webkit-transform:scale(0.8);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    #social-media-container {
        position: absolute;
        bottom: -85px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 85px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}